<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>

	<nav th:replace="fragments/nav" />

	<div class="container" style="text-align: center">
		<h2>Campos críticos</h2>
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						
						<th>Nombre</th>
						<th>Valor</th>
						<th></th>
						<th class="col-md-1"></th>
						
					</tr>
				</thead>
				<tbody>
					<tr th:each="critic : ${criticList}">
						<td th:text="${critic.clave}"></td>
						<td th:text="${critic.valor}"></td>
						<td><a id="modificar" th:href="${'/campos/modificar/' + critic.id}">Modificar valor</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<footer th:replace="fragments/pagination" />	
	</div>
	

	<footer th:replace="fragments/footer" />

</body>
</html>